/*STYLE VARIABLES*/
/*TYPEFACES*/
$font-headline: "Markazi Text", serif;
$font-content: "Karla", sans-serif;

/*TYPE SYSTEM*/
$display-title-fz: 64px;
$display-title-fw: bold;

$sub-title-fz: 40px;
$sub-title-fw: normal;

$lead-text-fz: 18px;
$lead-text-fw: normal;
$section-title-fz: 20px;
$section-title-fw: bolder;
$specials-fz: 16px;
$specials-fw: bolder;
$card-title-fz: 18px;
$card-title-fw: bold;
$paragraph-fz: 16px;
$paragraph-fw: lighter;
$highlight-text-fz: 16px;
$highlight-text-fw: bold;

$primary-yellow: #f4ce14;
$primary-green: #495e57;
$secondary-orange: #ee9972;
$secondary-pink: #fbdabb;
$highlight-grey: #edefee;
$highlight-black: #333333;
$basic-b: black;
$basic-w: white;

$rounded-16: 16px;
$rounded-8: 8px;

/*APP*/
* {
  margin: 0;
  font-family: $font-content;
}

/*NAVBAR*/
#navbar {
  position: relative;
  left: 0px;
  top: 0px;
  background: $basic-w;
  font-weight: $display-title-fw;
  font-size: $section-title-fz;

  .nav-link {
    background-color: $basic-w;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
  }

  .nav-link::after {
    background-color: $primary-yellow;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }
  .nav-link:hover::after {
    width: 100%;
  }
}

/*HEADER*/
#main-header {
  background: $primary-green;
  position: relative;

  #main-title {
    font-family: $font-headline;
    font-weight: $display-title-fw;
    font-size: $display-title-fz;
    color: $primary-yellow;
  }

  #main-subtitle {
    font-family: $font-headline;
    font-weight: $sub-title-fw;
    font-size: $sub-title-fz;
    color: $basic-w;
  }

  #main-text {
    font-weight: $lead-text-fw;
    font-size: $lead-text-fz;
    color: $basic-w;
  }

  .btn-primary {
    background: $primary-yellow;
    border: none;
    color: $basic-b;
    font-weight: $section-title-fw;
    font-size: $section-title-fz;
  }

  .header-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

/*MAIN*/

/*SPECIALS*/
#specials {
  #title-section {
    #specials-title {
      font-family: $font-headline;
      font-size: $sub-title-fz;
      font-weight: $sub-title-fw;
      margin-top: 15px;
    }
    .btn-primary {
      background: $primary-yellow;
      border: none;
      color: $basic-b;
      font-weight: $section-title-fw;
      font-size: $section-title-fz;
      margin-top: 15px;
    }
  }

  .card {
    background: $highlight-grey;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  .name {
    font-size: $card-title-fz;
    font-weight: $card-title-fw;
  }
  .card-text {
    font-size: $paragraph-fz;
    font-weight: $paragraph-fw;
  }
  .card-footer {
    background: $highlight-grey;
    border: none;

    .btn-primary {
      background: $primary-yellow;
      border: none;
      color: $basic-b;
      font-weight: $section-title-fw;
      font-size: $section-title-fz;
    }

    .shopping-icon {
      height: 30px;
    }
  }
}

/*TESTIMONIALS*/

#testimonials {
  background: $primary-green;

  #testimonials-title {
    font-family: $font-headline;
    font-size: $sub-title-fz;
    font-weight: $sub-title-fw;
    margin-top: 15px;
    color: $basic-w;
  }

  .rating {
    font-size: $section-title-fz;
    font-weight: $section-title-fw;
  }

  .title-container {
    display: flex;
  }
  .star-icon {
    height: 20px;
  }
  .profile-img {
    min-height: 100%;
    object-fit: cover;
  }
  .name {
    font-size: $card-title-fz;
    font-weight: $card-title-fw;
  }
  .card-text {
    font-size: $paragraph-fz;
    font-weight: $paragraph-fw;
  }
}

/*ABOUT*/

/*FOOTER*/
